[submodule "libs/skills"]
	path = libs/skills
	url = https://github.com/mattpocock/skills
[submodule "libs/pi-context-prune"]
	path = libs/pi-context-prune
	url = https://github.com/championswimmer/pi-context-prune
[submodule "libs/pi-web-access"]
	path = libs/pi-web-access
	url = https://github.com/nicobailon/pi-web-access.git
